<div>
    <p>Hi <%= user.name %>,</p>
    <p>DO NOT SHARE THIS LINK WITH ANYONE</p>
    <p>Use this link to reset password of your Codeial account. <a href="">Click here!</a></p>
    <p>Or paste the given link in your browser: </p>
    <p>Thanks!</p>
</div>

